<%layout("layouts/boilerplate.ejs")%>
<main class="show-main">
    <div class="show-card">
        <img src="<%=recipe.image %>">
        <div class="show-content">

            <div class="show-title">
                <%=recipe.title%>
            </div>

            <div class="show-ingredients">
                <ul>
                    <%Object.entries(recipe.ingredients).forEach((ingredient) => {%>
                    <li><b><%=ingredient[1].amount%> <%=ingredient[1].unit%></b> <%=ingredient[1].name%></li>
                    <%})%>
                </ul>
            </div>
            <div class="show-section">
                <%=recipe.instructions%>
            </div>


        </div>
    </div>
</main>